	@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@{
	var user = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from booking.webestica.com/admin-booking-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 May 2024 09:26:46 GMT -->
<head>
	<title>Booking - Multipurpose Online Booking Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">

	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')

		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
			var el = document.querySelector('.theme-icon-active');
			if (el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
					const activeThemeIcon = document.querySelector('.theme-icon-active use')
					const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
					const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

					document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
						element.classList.remove('active')
					})

					btnToActive.classList.add('active')
					activeThemeIcon.setAttribute('href', svgOfActiveBtn)
				}

				window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
					if (storedTheme !== 'light' || storedTheme !== 'dark') {
						setTheme(getPreferredTheme())
					}
				})

				showActiveTheme(getPreferredTheme())

				document.querySelectorAll('[data-bs-theme-value]')
					.forEach(toggle => {
						toggle.addEventListener('click', () => {
							const theme = toggle.getAttribute('data-bs-theme-value')
							localStorage.setItem('theme', theme)
							setTheme(theme)
							showActiveTheme(theme)
						})
					})

			}
		})

	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/assets/images/favicon.ico">
	<!-- Favicon -->
	<link rel="shortcut icon" href="~/assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;family=Poppins:wght@400;500;700&amp;display=swap">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/glightbox/css/glightbox.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/flatpickr/css/flatpickr.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/choices/css/choices.min.css">


	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;family=Poppins:wght@400;500;700&amp;display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/overlay-scrollbar/css/overlayscrollbars.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

</head>

<body>

	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		<!-- Sidebar START -->
		<nav class="navbar sidebar navbar-expand-xl navbar-light">
			<!-- Navbar brand for xl START -->
			<div class="d-flex align-items-center">
				<a class="navbar-brand" asp-action="index" asp-controller="home">
					<img class="light-mode-item navbar-brand-item" src="~/assets/images/logo.svg" alt="logo">
					<img class="dark-mode-item navbar-brand-item" src="~/assets/images/logo-light.svg" alt="logo">
				</a>
			</div>
			<!-- Navbar brand for xl END -->

			<div class="offcanvas offcanvas-start flex-row custom-scrollbar h-100" data-bs-backdrop="true" tabindex="-1" id="offcanvasSidebar">
				<div class="offcanvas-body sidebar-content d-flex flex-column pt-4">

					<!-- Sidebar menu START -->
					<ul class="navbar-nav flex-column" id="navbar-sidebar">

						<!-- Menu item -->
						<li class="nav-item"><a asp-action="index" asp-controller="admin" class="nav-link">Dashboard</a></li>

						<!-- Menu item -->
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="collapse" href="#collapsebooking" role="button" aria-expanded="false" aria-controls="collapsebooking">
								Hotel items
							</a>
							<!-- Submenu -->
							<ul class="nav collapse flex-column" id="collapsebooking" data-bs-parent="#navbar-sidebar">
								<li class="nav-item"> <a class="nav-link" asp-action="activities">Activities</a></li>
								<li class="nav-item"> <a class="nav-link" asp-action="countries">Countries</a></li>
								<li class="nav-item"> <a class="nav-link" asp-action="PaymentMethods">Payment Methods</a></li>
								<li class="nav-item"> <a class="nav-link" asp-action="Services">Services</a></li>
								<li class="nav-item"> <a class="nav-link" asp-action="StaffLanguages">Staff Languages</a></li>
								<li class="nav-item"> <a class="nav-link" asp-action="Types">Types</a></li>
							</ul>
						</li>

						<!-- Menu item -->
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="collapse" href="#collapseguest" role="button" aria-expanded="false" aria-controls="collapseguest">
								Website items
							</a>
							<!-- Submenu -->
							<ul class="nav collapse flex-column" id="collapseguest" data-bs-parent="#navbar-sidebar">
								<li class="nav-item"> <a class="nav-link"asp-action="faqs">FAQs</a></li>
								<li class="nav-item"> <a class="nav-link" asp-action="UpdateAbout">Update About</a></li>
								<li class="nav-item"> <a class="nav-link" asp-action="UpdateTermsOfService">Update Terms Of Service</a></li>
							</ul>
						</li>

						<!-- Menu item -->
						<li class="nav-item"> <a class="nav-link" asp-action="Submittedhotels">Submitted hotels</a></li>

						<!-- Menu item -->
						<li class="nav-item"> <a class="nav-link" asp-action="ownerslist">Owners list</a></li>

						<!-- Menu item -->
						<li class="nav-item"> <a class="nav-link" asp-action="ReportedReviews">Reported Reviews</a></li>
						<!-- Menu item -->
						<li class="nav-item"> <a class="nav-link" asp-action="messages">Messages</a></li>

					</ul>
					<!-- Sidebar menu end -->
					<!-- Sidebar footer START -->
					<div class="d-flex align-items-center justify-content-between text-primary-hover mt-auto p-3">
						<a class="h6 fw-light mb-0 text-body" asp-action="logout" asp-controller="account" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Sign out">
							<i class="fa-solid fa-arrow-right-from-bracket"></i> Log out
						</a>
					</div>
					<!-- Sidebar footer END -->

				</div>
			</div>
		</nav>
		<!-- Sidebar END -->
		<!-- Page content START -->
		<div class="page-content">
@RenderBody()
		</div>
		<!-- Page content END -->
	</main>
	<!-- **************** MAIN CONTENT END **************** -->
	<!-- Bootstrap JS -->
	<script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Vendor -->
	<script src="~/assets/vendor/overlay-scrollbar/js/overlayscrollbars.min.js"></script>
	<script src="~/js/main.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Vendors -->
	<script src="~/assets/vendor/tiny-slider/tiny-slider.js"></script>
	<script src="~/assets/vendor/glightbox/js/glightbox.js"></script>
	<script src="~/assets/vendor/flatpickr/js/flatpickr.min.js"></script>
	<script src="~/assets/vendor/choices/js/choices.min.js"></script>

	<!-- ThemeFunctions -->
	<script src="~/assets/js/functions.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.6/dist/sweetalert2.all.min.js"></script>
	<!-- Bootstrap CSS -->
	@* <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> *@
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


</body>

<!-- Mirrored from booking.webestica.com/admin-booking-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 May 2024 09:26:46 GMT -->
</html>

