@model List<FAQGetViewModel>
	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		<!-- =======================
		Main banner START -->
		<section class="pt-4 pt-lg-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 mx-auto text-center">
						<!-- Breadcrumb -->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-dots justify-content-center">
								<li class="breadcrumb-item"><a href="index.html"><i class="bi bi-house me-1"></i> Home</a></li>
								<li class="breadcrumb-item active">Faqs</li>
							</ol>
						</nav>
						<!-- Title -->
						<h6 class="text-primary">Faqs</h6>
						<h1>Frequently Asked Questions</h1>
						<!-- Info -->
						<p>have questions? We're here to help you</p>
					</div>
				</div>
			</div>
		</section>
		<!-- =======================
		Main banner END -->
	<!-- =======================
	Faqs START -->
	<section class="pt-0 pt-lg-5">
		<div class="container">
			<!-- Accordion START -->
			<div class="row">
				<div class="col-10 mx-auto">
					<div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
						@{int counter=0;}
					@foreach (var item in Model)
						{
							counter++;
							<!-- Item -->
						<div class="accordion-item mb-3">
							<h6 class="accordion-header font-base" id="heading-@counter">
								<button class="accordion-button fw-bold rounded d-inline-block collapsed d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@counter" aria-expanded="false" aria-controls="collapse-@counter">
										@item.Question
								</button>
							</h6>
							<!-- Body -->
							<div id="collapse-@counter" class="accordion-collapse collapse" aria-labelledby="heading-@counter" data-bs-parent="#accordionExample{@counter}">
								<div class="accordion-body mt-3">
									@item.Answer
								</div>
							</div>
						</div>
							
						}

					
					</div>
				</div>
			</div>
			<!-- Accordion END -->
		</div>
	</section>
	<!-- =======================
	Faqs END -->
		

	</main>
	<!-- **************** MAIN CONTENT END **************** -->
	


