@model UpdateTermsOfServiceViewModel
<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main banner START -->
    <section class="pt-4 pt-lg-5">
        <div class="container">
            <!-- Title -->
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <h6>AGREEMENT</h6>
                    <h1 class="fs-2 mb-0">Terms Of Service</h1>
                </div>
            </div>

            <!-- Tab content item START -->
            <div class="tab-pane fade show active" id="tab-1">

                <h5>@Model.Title</h5>

                <p>@Model.Text</p>
                <!-- Button -->
                <div class="hstack gap-3 flex-wrap">
                    <a asp-action="index" class="btn btn-primary mb-0">I agree with the terms</a>
                </div>
            </div>
            <!-- Tab content item END -->


        </div>
    </section>
    <!-- =======================
    Main banner END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
