<!-- **************** MAIN CONTENT START **************** -->
<main>

	<!-- =======================
	Page content START -->
	<section class="overflow-hidden pt-0 pt-lg-5">
		<div class="container">
			<div class="row">
				<div class="col-md-8 text-center mx-auto">
					<!-- SVG decoration START -->
					<img src="~/assets/images/element/congratulations.svg" class="h-300px my-4" alt="">
					<!-- SVG decoration END -->
					<!-- Title -->
					<h1 class="fs-3">Your listing has been updated successfully.</h1>

					<!-- Buttons -->
					<a asp-action="index" asp-controller="home" class="btn btn-light mb-5">Back to Homepage</a>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
