@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model CreateFAQViewModel

<!-- Page main content START -->
<div class="page-content-wrapper p-xxl-4">
    <!-- Title -->
    <div class="row">
        <div class="col-12 mb-4 mb-sm-5">
            <div class="d-sm-flex justify-content-between align-items-center">
                <h1 class="h3 mb-3 mb-sm-0">Create FAQ</h1>
            </div>
        </div>
    </div>

    <!-- Form START -->
    <div class="card shadow mt-5">
        <!-- Card body START -->
        <div class="card-body">
            <form asp-action="CreateFAQ" method="post">
                <div class="mb-3">
                    <label asp-for="Question" class="form-label">FAQ Question</label>
                    <input asp-for="Question" class="form-control" />
                    <span asp-validation-for="Question" class="text-danger"></span>
                </div> 
                <div class="mb-3">
                    <label asp-for="Answer" class="form-label">FAQ Answer</label>
                    <input asp-for="Answer" class="form-control" />
                    <span asp-validation-for="Answer" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-success">Create FAQ</button>
            </form>
        </div>
        <!-- Card body END -->
    </div>
    <!-- Form END -->
</div>
<!-- Page main content END -->
