@{
	Layout = "~/Views/Shared/OwnerLayout.cshtml";
}
@model List<ReviewGetViewModel>

		<!-- =======================
		Content START -->
		<section class="pt-0">
			<div class="container vstack gap-4">
				<!-- Title START -->
				<div class="row">
					<div class="col-12">
						<h1 class="fs-4 mb-0"><i class="bi bi-star fa-fw me-1"></i>Reviews</h1>
					</div>
				</div>
				<!-- Title END -->
				<!-- Counter START -->
				<!-- Review START -->
				<div class="row">
					<div class="col-12">
						<div class="card border rounded-3">
							<!-- Card header START -->
							<div class="card-header border-bottom">
								<h5 class="card-header-title">User Reviews</h5>
							</div>
							<!-- Card header END -->
							<!-- Card body START -->
								<hr> <!-- Divider -->
								@foreach (var item in Model)
					{
								<!-- Review item START -->
								<div class="bg-light rounded p-3">
									<!-- Review item START -->
									<div class="d-sm-flex justify-content-between">
										<!-- Avatar image -->
										<div class="d-sm-flex align-items-center mb-3">
											<img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/07.jpg" alt="avatar">
											<!-- Title -->
											<div>
												<h6 class="m-0">Louis Ferguson</h6>
												<span class="me-3 small">Nov 18, 2022 at 11:55 am</span>
											</div>
										</div>
										<!-- Review star -->
										<ul class="list-inline mb-2 mb-sm-0">
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="far fa-star text-warning"></i></li>
										</ul>
									</div>

									<!-- Content -->
									<h6 class="fw-normal"><span class="text-body">Review on:</span> @item.Room</h6>
									<p>Far advanced settling say finished raillery. Offered chiefly farther Satisfied conveying a dependent contented he gentleman agreeable do be. Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do.</p>
									<!-- Buttons -->
									<div class="d-flex justify-content-between align-items-center">
										<a class="btn btn-sm btn-primary-soft mb-0"> <i class="bi bi-reply me-1"></i>Reply </a>
										<a href="#" class="text-primary-hover text-reset small mb-0"><i class="bi bi-info-circle me-1"></i>Report</a>
									</div>
									<!-- Review item END -->
								</div>
								<!-- Review item END -->
					}
							</div>
							<!-- Card body END -->
							<!-- Card footer START -->
							<div class="card-footer pt-0">
								<!-- Pagination and content -->
								<div class="d-sm-flex justify-content-sm-between align-items-sm-center">
									<!-- Content -->
									<p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
									<!-- Pagination -->
									<nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
										<ul class="pagination pagination-sm pagination-primary-soft mb-0">
											<li class="page-item disabled">
												<a class="page-link" href="#" tabindex="-1">Prev</a>
											</li>
											<li class="page-item"><a class="page-link" href="#">1</a></li>
											<li class="page-item active"><a class="page-link" href="#">2</a></li>
											<li class="page-item disabled"><a class="page-link" href="#">..</a></li>
											<li class="page-item"><a class="page-link" href="#">15</a></li>
											<li class="page-item">
												<a class="page-link" href="#">Next</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- Card footer END -->
						</div>
					</div>
				</div>
				<!-- Review END -->
			</div>
		</section>
		<!-- =======================
		Content END -->
